#shelter {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-gap: 3%;

    margin-top: 10%;
}

#container {
    width: 700px;
    height: 700px;
}

#container p {
    padding: 20px;

    font-size: 20px;
    font-weight: 700;
}

.input-button {
    display: flex;
    flex-direction: row;

    padding: 20px 50px;
    grid-gap: 2%;
}

.services {
    width: 660px;
    height: 300px;

    display: flex;
    flex-direction: column;
    margin-inline: auto;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrollable-div {
    height: 240px;
    /* Adjust the height as needed */
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: white;
}

.margin-left {
    margin-left: -18px;
}

#container .services .side {
    background-color: #283618;


    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-evenly;
    grid-gap: 10px;
}

#container .services .side p {
    color: white;

    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}

#container .scrollable-div h4 {
    font-size: 16px;
    font-weight: 400;

    padding-block: 0px;
}

.side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-sizing {
    padding: 10px 50px 10px 20px;
    border-radius: 10px;
    border: black solid 1px;
}

#article-container {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}

.styling {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
}

.articles {
    width: 360px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles img {
    width: 300px;
    height: 240px;

    margin-block: 25px;
}

.articles p {
    padding: 0px 30px 20px;

    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.chat-prof {
    width: 360px;
    height: 190px;
}

.chat-prof p {
    font-size: 22px;
    font-weight: 450;
    text-align: center;
    padding: 18px;
}

.here-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.here-button p,
#container .here-button p {
    background-color: #54673E;
    color: white;

    padding: 8px 50px;
    border-radius: 10px;


    font-size: 20px;
    font-weight: bold;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    transition: 0.2s;
}

.here-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.inline-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-block: 3px;
}

.inline-text:hover {
    background-color: #D9D9D9;
}

.test {
    text-align: center;
    display: flex;
    justify-content: center;
}

.org {
    width: 160px;
    height: 20px;
    margin-inline: 20px;
}

.cate {
    width: 100px;
    height: 20px;
    margin-inline: 18px;
}

.loc {
    width: 130px;
    height: 20px;
    margin: 0px 20px 0px 20px;
}

.cont {
    width: 170px;
    height: 20px;
}

#vet-scroll,
#hotel-scroll {
    display: none;
}

#shelter-scroll {
    display: block;
}