* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

body,
html {
    background-color: #FEFAE0;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: #283618;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
}

#navbar-container a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-inline: 15px;
}


/* Main Styles */

.main {
    height: 200px;
    min-height: 100vh;
    width: 100%;

    display: flex;
}

.image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form-background {
    width: calc(50% - 140px);

    padding: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-background .form-container h1 {
    color: #283618;
    font-family: 'Orelega One', 'Inter', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

.horizontal-field {
    display: flex;
    align-items: end;

    width: 100%;
    margin: 10px 0;
    gap: 40px
}

.horizontal-field>.field-container {
    width: 50%;
}

label,
input[type="submit"] {
    font-size: .9rem;
}

input {
    width: 100%;
    padding: 10px;
    font-size: .8rem;

    margin-top: 5px;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #cdc9b6;
}

input[type="submit"] {
    background-color: #283618;
    color: white;
    width: 50%;
}

.form-container p {
    text-align: center;
}

.form-container p a {
    color: #283618;
}

#err-msg {
    display: none;
    color: red;
}